<div aria-live="polite" aria-atomic="true">
  <div class="position-absolute bottom-0 end-0 p-3 pb-6">
    <div
      *ngFor="let alert of alerts"
      class="alert toast show d-flex"
      [ngClass]="getAlertStyle(alert)"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      role="button"
      (click)="removeAlert(alert)"
    >
      <i class="{{getIconClass(alert)}} justify-content-center align-items-center d-flex fa-solid fa-xl pe-3 p-2"></i>
      <strong class="me-auto">{{ alert.message }}</strong>
    </div>
  </div>
</div>
