<div *ngIf="account">
    <h1 class="h3">Profile</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body text-center">
                    <img src="../../assets/img/avatars/avatar-4.jpg" alt="Profile" class="img-fluid rounded-circle mb-2" width="128" height="128">
                    <h5 class="card-title mb-0">{{account.title}} {{account.firstName}} {{account.lastName}}</h5>
                    <div class="text-muted mb-2">{{account.email}}</div>
                    <a routerLink="update" class="btn btn-primary">Update Profile</a>
                    <button (click)="showSuccess()" class="btn btn-success">Success</button>
                    <button (click)="showWarn()" class="btn btn-warning">Warn</button>
                    <button (click)="showInfo()" class="btn btn-info">Info</button>
                    <button (click)="showError()" class="btn btn-danger">Error</button>
                </div>
            </div>
            <div class="card">

                <div class="d-flex justify-content-center">
                    <div data-mdb-ripple-init class="btn btn-primary btn-rounded">
                        <label class="form-label text-white m-1" for="customFile2">Choose file</label>

                        <!-- <input type='file' (change)="imgFileSelected($event);" />
                        <img id="blah" [src]="imageSrc" alt="your image" /> -->


                        <input #file type="file" accept='image/*' (change)="preview(file.files)" />
<img [src]="imgURL" height="200" />
                        <!-- <input type="file" class="form-control d-none" id="customFile2" onchange="displaySelectedImage(event, 'selectedAvatar')" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>